<!DOCTYPE html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>


      <!-- Add your site or application content here -->
       <!--  <div class = "custom-container">
            <div class="section-div weather-div"> 
                <div class="Weather-title"> Current Weather: Sunny (33 Degrees Celsius)</div>

            </div>
            <div class="section-div">
                <img src="http://visitabudhabi.ae/DataFolder/Images/Thumbnails/900x600//1_Wild-Arabian-Oryx-on-Sir-Bani-Yas-Island.jpg">
                <img src="https://media.licdn.com/mpr/mpr/p/2/005/069/2c9/2208d1f.jpg">
                <img src="http://www.alhadassonline.com/cgi-bin/images/13/deer-abudabi.jpg">
                <img src="http://visitabudhabi.ae/DataFolder/Images/Thumbnails/900x600//sir-bani-yas-00022-vad-2015.jpg">




            </div>
            <div class="section-div"></div>
        </div>

        <div class="headline"> Sir Bani Yas Island</div>
        <div class= "weather"> Weather today</div>
        <div class= "Twitter"></div> --> 
        
        <div id="map-canvas"></div>
        <div class="my_map"></div>



        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
        <script src="https://npmcdn.com/packery@2.0/dist/packery.pkgd.min.js"></script>
        <script src="js/plugins.js"></script>
        <!-- // <script src="https://maps.googleapis.com/maps/api/js?v=3.22"></script> -->
       <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>
     <!-- <script type="text/javascript" charset="UTF-8" src="http://maps.gstatic.com/maps-api-v3/api/js/20/4/marker.js"></script> -->
         <!-- // <script src="https://www.google.com/jsapi"></script> -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.24/p5.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.24/addons/p5.dom.min.js"></script>
        <script src="http://connect.soundcloud.com/sdk.js"></script>
        
        <script src="/socket.io/socket.io.js"></script>
        <script src="js/sketch.js"></script>
        <script src="js/main.js"></script>
        


    </body>
</html>
